<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.webServer>
        <httpErrors existingResponse="PassThrough" />

        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="docs/index.html" />
            </files>
        </defaultDocument>

        <staticContent>
            <mimeMap fileExtension=".m4a" mimeType="audio/mp4" />
        </staticContent>

        <rewrite>
            <rules>
                <clear />
                <rule name="assets redirection" stopProcessing="false">
                    <match url="^(assets.*)" ignoreCase="false" />
                    <action type="Redirect" url="docs/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
