@keyframes a-rubber-band {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.a-rubber-band {
  animation-name: a-rubber-band;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

@keyframes a-zoom-and-fade {
    0% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }

    100% {
        opacity: 0;
        transform: scale3d(100, 100, 100);
    }
}

.a-zoom-and-fade {
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: a-zoom-and-fade;
    animation-timing-function: ease;
}

@keyframes a-fade-in {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    65% {
        opacity: 0;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        pointer-events: auto;
    }
}

.a-fade-in {
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    animation-name: a-fade-in;
    animation-timing-function: ease;
}

@keyframes a-no-js-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.no-js .a-no-js-fade-out {
    animation-delay: 1.5s;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-name: a-no-js-fade-out;
    animation-timing-function: ease;
}
